# vim related ignores
*.swp
.lvimrc

# emacs related ignores
*#*#
*.#*#
.#*

# autotools related ignores
*.cov
/AUTHORS
/autom4te.cache
/config.log

# gnulib related ignores
*.rej
*~

# git related ignores
*.orig

# libvirt related ignores
/build/
/ci/scratch/
tags
