# vim related ignores
*.swp
.lvimrc

# emacs related ignores
*#*#
*.#*#
.#*
*~

# cscope related ignores
cscope.files
cscope.in.out
cscope.out
cscope.po.out

# git related ignores
*.rej
*.orig
.git-module-status

# libvirt related ignores
/build/
/ci/scratch/
tags

# clangd related ignores
.clangd
compile_commands.json
