lxc.net.20.type = macvlan
lxc.net.1.type = phys
lxc.net.10.flags = up
lxc.net.20.hwaddr = 02:00:15:8f:05:c1
lxc.net.20.flags = up
lxc.net.1.link = eth0
lxc.net.1.name = eth1
lxc.net.10.type = vlan
lxc.net.1.ipv6.gateway = 2003:db8:1:0:214:1234:fe0b:3595
lxc.net.1.ipv6 = 2003:db8:1:0:214:1234:fe0b:3596/64
lxc.net.20.link = eth0
lxc.net.10.vlan.id = 2
lxc.net.1.ipv4.gateway = 192.168.122.1
lxc.net.10.link = eth0
lxc.net.1.ipv4 = 192.168.122.2/24
lxc.net.10.hwaddr = 02:00:15:8f:05:c1
lxc.net.20.macvlan.mode = vepa

lxc.rootfs = /var/lib/lxc/migrate_test/rootfs
lxc.utsname = migrate_test
lxc.autodev=1
