// Allow any user in the 'libvirt' group to connect to the system libvirtd
// ro and rw sockets without entering a password.

polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.monitor" &&
        subject.isInGroup("libvirt")) {
        return polkit.Result.YES;
    }
});

polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.manage" &&
        subject.isInGroup("libvirt")) {
        return polkit.Result.YES;
    }
});
